<footer>

  <small>&copy; <span id="year">2019</span> Eric Clark</small>
  <div class="theme-toggle__wrapper">
    <label class="theme-toggle" for="toggle">
      <div class="screen-reader-text">
        Switch to 
        <span class="theme-toggle__label--dark">dark</span>
        <span class="theme-toggle__label--light">light</span>
        theme
      </div>
      <input id="toggle" type="checkbox">
      <span class="theme-toggle__switch" aria-hidden="true">
        <i class="icon--moon">
          <!-- &#9789; -->
          <svg viewBox="0 0 240 240" xmlns="http://www.w3.org/2000/svg">
            <g fill="none" fill-rule="evenodd">
              <path d="M131.228 31c1.48 0 2.95.036 4.413.107C122.265 46.67 114.184 66.894 114.184 89c0 47.677 37.586 86.599 84.815 88.893C182.635 196.935 158.344 209 131.228 209 81.948 209 42 169.153 42 120s39.949-89 89.228-89z" stroke="#000" stroke-width="12" stroke-linejoin="round"/>
            </g>
          </svg>
          
          
        </i><i class="icon--sun">
          <!-- &#9788; -->
          <svg viewBox="0 0 240 240" xmlns="http://www.w3.org/2000/svg">
            <g fill="none" fill-rule="evenodd">
              <path d="M119 175c30.376 0 55-24.624 55-55s-24.624-55-55-55-55 24.624-55 55 24.624 55 55 55zm.5-162.5L120 38m-.5 164.5l.5 25.5m107.5-108.5l-25.5.5m-164.5-.5L12 120m161.317-93.348L161 48.986M78.317 191.197L66 213.531m147.348-40.214L191.014 161M48.803 78.317L26.469 66m39.348-38.848L79 48.986m81.817 142.711L174 213.531m38.848-147.714L191.014 79M48.303 160.817L26.469 174" stroke="#000" stroke-width="12" stroke-linecap="round"/>
            </g>
          </svg>
          
          
        </i>
      </span>
    </label>
  </div>
</footer>
<div id="dark-mode-detector" role="presentation"></div>

<script>
  document.getElementById("year").innerHTML = new Date().getFullYear();
</script>

<script>
(function () {
        var toggler = document.querySelector('#toggle'),
            root = document.documentElement,
            detector = document.querySelector('#dark-mode-detector'),
            currentTheme = localStorage.getItem('theme') || "dark";

        if (currentTheme == "light") toggler.removeAttribute('checked');
        else toggler.checked = "true";

        root.setAttribute('data-theme', currentTheme);

        toggler.addEventListener('change', toggleTheme, false);

        function toggleTheme(e) {
            if (this.checked) {
                root.setAttribute('data-theme', 'dark');
                localStorage.setItem('theme', 'dark');
            }
            else {
                root.setAttribute('data-theme', 'light');
                localStorage.setItem('theme', 'light');
            }
        }
    })();
</script>
