<footer>

  <small>&copy; <span id="year">2019</span> Eric Clark</small>
  <div class="theme-toggle__wrapper">
    <label class="theme-toggle" for="toggle">
      <div class="screen-reader-text">
        Switch to 
        <span class="theme-toggle__label--dark">dark</span>
        <span class="theme-toggle__label--light">light</span>
        theme
      </div>
      <input id="toggle" type="checkbox">
      <span class="theme-toggle__switch" aria-hidden="true">
        <i class="icon--moon">&#9789;</i><i class="icon--sun">&#9788;</i>
      </span>
    </label>
  </div>
</footer>
<div id="dark-mode-detector" role="presentation"></div>

<script>
  document.getElementById("year").innerHTML = new Date().getFullYear();
</script>

<script>
(function () {
        var toggler = document.querySelector('#toggle'),
            root = document.documentElement,
            detector = document.querySelector('#dark-mode-detector'),
            currentTheme = localStorage.getItem('theme') || "dark";

        if (currentTheme == "light") toggler.removeAttribute('checked');
        else toggler.checked = "true";

        root.setAttribute('data-theme', currentTheme);

        toggler.addEventListener('change', toggleTheme, false);

        function toggleTheme(e) {
            if (this.checked) {
                root.setAttribute('data-theme', 'dark');
                localStorage.setItem('theme', 'dark');
            }
            else {
                root.setAttribute('data-theme', 'light');
                localStorage.setItem('theme', 'light');
            }
        }
    })();
</script>
