// dark mode color values stored in variables.scss
.theme-toggle {
    display: none;
    grid-column: main;
}

@supports (color: var(--color__primary)) {
    .theme-toggle {
        display: block;
    }
}

.theme-toggle__switch {}

:root[data-theme="dark"] {
    --image-filter: grayscale(50%);

    img:not([src*=".svg"]) {
        filter: var(--image-filter);
    }
}
