@mixin font-size($sizeValueSmall, $sizeValueLarge) {

    $fontSizeSmall: $sizeValueSmall * 18;
    $fontSizeLarge: $sizeValueLarge * 18;

    font-size: ($sizeValueSmall * 18) * 1px;
    font-size: $sizeValueSmall * 1rem;
    @media screen and (min-width: 320px) {
        font-size: calc( #{$fontSizeSmall}px + ( #{$fontSizeLarge} - #{$fontSizeSmall}) * ( (100vw - 320px) / ( 1024 - 320) ));
    }
    @media screen and (min-width: 1024px) {
        font-size: ($sizeValueLarge * 18) * 1px;
        font-size: $sizeValueLarge * 1rem;
    }
}
