footer {
    grid-column: full;
    display: grid;
    grid-template-columns:
      [full-start] minmax(1.5rem, 1fr) [main-start] minmax(0, 50rem) [main-end] minmax(1.5rem, 1fr) [full-end];
    padding: 2em 0;
  
    >small {
      grid-column: main;
    }
  }
  