html[data-current="contact"] main>form {
    display: grid;
  
    label {
      display: none;
    }
  
    input,
    textarea {
      width: 100%;
      padding: 1rem;
      margin-bottom: 2rem;
    }
  
    button {
      width: 100%;
    }
  }
  
  // reset CSS Grid fallbacks when they aren't required
  @supports (display: grid) {
    html[data-current="contact"] main>form {
  
      input,
      textarea,
      button {
        width: auto;
        max-width: none;
      }
    }
  }
  

// adjacent blog posts links
nav[aria-label="Adjacent Posts"] {
    padding: 4rem 0;
  
    ul {
      display: flex;
  
      li {
        flex: 0 0 50%;
        width: auto;
  
        &:nth-child(2) {
          text-align: right;
        }
      }
    }
  }
  