---
layout: default
---
<main class="main--container">
  <div class="main__content">

    <h2 class="h1">{{ page.title }}</h2>

    {% include page-intro.html %}

    <section>
      <h3 class="h5">Recent posts</h3>

      <ul class="post-list">
        {% for post in site.posts limit:3 %}
        <li>
          <time class="post-list__date" datetime="{{ post.date }}">
            {{ post.date | date_to_string }}
          </time>
          
            <h4>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </h4>
          
        </li>
        {% endfor %}
      </ul>
      <a href="/blog/">View all posts</a>

    </section>

    <section>
      {{ content }}
    </section>
  </div>
</main>
