---
layout: default
---
<main class="main--full">
  <div class="main__content">

    <h2 class="h1">{{ page.title }}</h2>

    {% include page-intro.html %}

    <section>
      {{ content }}
    </section>
    <section>
      <h3 class="h5">Recent writing</h3>

      <ul class="post-list post-list--small">
        {% for post in site.posts limit:3 %}
        <li>
          <time class="post-list__date" datetime="{{ post.date }}">
            {{ post.date | date_to_string }}
          </time>
          <a href="{{ post.url }}">
            <h4>{{ post.title }}</h4>
          </a>
        </li>
        {% endfor %}
      </ul>
      <a href="/blog/">View all posts</a>

    </section>
  </div>
</main>
